button.uiButton {
  @apply py-[1em] px-[3.5em];

  color: white;
  font-size: .8em; // 1em = 16px
  background: #6039aa;
  border: 1px solid #6039aa;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 10em;
  width: min-content;
  place-self: center;
}
